.sidebar{
    background-color: white;
    height: calc(100vh - 5rem);
    width: 15vw;
}

.sidebar .list-group{
    border-radius: 0;
    
}

.sidebar .list-group .list-group-item{
    line-height: 2rem;
    border: 0px;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
}
.sidebar .list-group .list-group-item i{
    line-height: 2rem;
}

.sidebar-nav .list-group{
    margin: 1rem 4rem ;
    border: 0;
}

.sidebar-nav .list-group .list-group-item {
    border: 0;
}

.sidebar-nav .list-group .list-group-item i{
    margin: 0 2rem;
}